fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.51
psycopg2-binary
python-dotenv==1.0.0
pydantic[email]
pydantic-settings==2.1.0
stripe==7.4.0
python-jose==3.3.0
passlib==1.7.4
python-multipart==0.0.6
bcrypt==4.1.1
tzdata
cryptography==42.0.5
requests==2.31.0
